
{% include "header.html" %}
    
    <section id="content" class="h-100">

        <div  class="d-flex align-items-center justify-content-center h-100">
            <div id="tutorial-text" class="col-3">
                    Sort the list by dragging the genres accordingly to your preference. The more you like it, the higher it should be.
                
                <input placeholder="Your Letterbox user" type="text" style="max-width: fit-content;" id="user-letterbox"
                    class="form-control mb-1 mt1 ">
                <button id="register" class="rounded  mb-1  button navy" type="button">Register me</button>
                <button id="find-partner" class="rounded  button navy ">Get Recommendations</button>
            </div>

            <div id="genres" class="col-3">

                <ul class="ml4 js-sortable list list-reset">
                    {% for genre in genres %}

                    <li id={{ genre }} class="p1 mb1 navy litem" style="position: relative; z-index: 10">{{ genre }}</li>

                    {% endfor %}
                </ul>



            </div>
            <div id="result">


            </div>

        </div>
    </section>

{% include "footer.html" %}
